services:
  backend:
    build: ./backend
    container_name: osm-backend
    depends_on:
      - nominatim
      - valhalla
      - vroom
    links:
      - nominatim:nominatim
      - valhalla:valhalla
      - vroom:vroom
    environment:
      - VALHALLA_URL=http://valhalla:8002
      - VROOM_URL=http://vroom:3000
      - NOMINATIM_URL=http://nominatim:8080
      - BOUNDS_FILE=/app/config/bounds.json
    volumes:
      - ./data/pois:/data/pois
      - ./data/pbf:/data/pbf
    ports:
      - '3001:3001'
    restart: unless-stopped
    networks:
      - osm-network

  frontend:
    build: ./frontend
    container_name: osm-frontend
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - osm-network

  nginx:
    build: ./nginx
    container_name: osm-nginx
    depends_on:
      - frontend
      - backend
    ports:
      - '8080:80'
    restart: unless-stopped
    networks:
      - osm-network

  nominatim:
    image: mediagis/nominatim:4.4
    container_name: osm-nominatim
    volumes:
      - ./data/pbf:/nominatim/data
      - nominatim-db:/var/lib/postgresql/14/main
    environment:
      - PBF_PATH=/nominatim/data/california-latest.osm.pbf
      - NOMINATIM_PASSWORD=very_secure_password
    ports:
      - '8001:8080'
    restart: unless-stopped
    shm_size: 2gb
    networks:
      osm-network:
        aliases:
          - nominatim

  valhalla:
    build: ./valhalla
    container_name: osm-valhalla
    volumes:
      - ./data/pbf:/data/pbf
      - valhalla-tiles:/data/valhalla
    ports:
      - '8002:8002'
    environment:
      - BUILD_TILES=true
    restart: unless-stopped
    networks:
      osm-network:
        aliases:
          - valhalla

  vroom:
    image: ghcr.io/vroom-project/vroom-docker:latest
    container_name: osm-vroom
    depends_on:
      - valhalla
    ports:
      - '3000:3000'
    restart: unless-stopped
    networks:
      osm-network:
        aliases:
          - vroom
    volumes:
      - ./vroom/config.yml:/conf/config.yml:ro

volumes:
  valhalla-tiles:
  nominatim-db:

networks:
  osm-network:
    driver: bridge
