.poi-list {
  margin-bottom: 20px;
}

.optimization-timestamp {
  color: #155724;
  margin-bottom: 8px;
  padding: 8px;
  background: #d4edda;
  border-radius: 0.5rem;
}

.poi-list-scroll {
  max-height: 275px;
  overflow-y: auto;
}

.poi-item {
  display: flex;
  padding: 8px;
  background: #f8f9fa;
  margin: 4px 0;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  flex-direction: column;
}

.poi-line-1,
.poi-line-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poi-item-optimized {
  background: #e7f3ff;
}

.poi-sequence {
  font-weight: bold;
  margin-right: 8px;
  color: #0066cc;
}

.poi-coordinates {
  color: #666;
}

.poi-notes {
  color: #666;
  margin: 0 2rem;
}

.delete-button {
  background: #dc3545;
  color: white;
  border: none;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;

  cursor: pointer;
}

.delete-button:hover {
  background: #c82333;
}
